@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: #efefef;
    padding: 2em;
}
header {
    display: flex;
    flex-direction: row;
}

#nav {
    display: flex;
    
}
#nav li {
    list-style: none;
    padding: 10px;
}
#nav a {
    color: #000;
}
#nav .nav-active {
    color: #000;
}

.content-container {
    display: flex;
}

main {
    flex: 3 1 auto;
}

main,
aside {
    padding: 1em;
}

footer p {
    text-align: center;
}

.gallery {
    display: flex;
}
.gallery a {
    margin-right: 1em;
}
.gallery a:last-child {
    margin-right: 0;
}

.lightbox {
    /* Default to hidden */
    display: none;
  
    /* Overlay entire screen */
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    /* A bit of padding around image */
    padding: 1em;
  
    /* Translucent background */
    background: rgba(0, 0, 0, 0.8);
  }
  
  /* Unhide the lightbox when it's the target */
  .lightbox:target {
    display: block;
  }
  
  .lightbox span {
    /* Full width and height */
    display: block;
    width: 100%;
    height: 100%;
  
    /* Size and position background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .success-message {
    text-align: center;
    padding: 20px;
    border: 2px solid #4caf50;
    border-radius: 5px;
    background-color: #dff0d8;
    color: #3c763d;

}

.errorlist li {
    list-style: none;
    color: red;
}