{% extends "base.html" %}
{% block bodyclass %}about{% endblock %}
{% block nav-about %}<strong class="nav-active">About</strong>{% endblock %}
{% block title %}About Page Page{% endblock %}
{% block content %}
<h1>This is the about page.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et dui sem. Proin vitae ullamcorper libero. Nulla vitae risus elit. Vivamus suscipit sapien orci. Fusce euismod metus quis tristique finibus. Morbi aliquam imperdiet enim, in dignissim arcu eleifend non. Curabitur sed nulla sed orci vulputate scelerisque non et sem.</p>
<p>Pellentesque et dui sem. Proin vitae ullamcorper libero. Nulla vitae risus elit. Vivamus suscipit sapien orci. Fusce euismod metus quis tristique finibus. Morbi aliquam imperdiet enim, in dignissim arcu eleifend non. Curabitur sed nulla sed orci vulputate scelerisque non et sem.</p>
{% endblock %}
{% block sidebarcontent %}
<h2>This is the about page sidebar content.</h2>
<p>Nulla vitae risus elit. Vivamus suscipit sapien orci. Fusce euismod metus quis tristique finibus. Morbi aliquam imperdiet enim, in dignissim arcu eleifend non. Curabitur sed nulla sed orci vulputate scelerisque non et sem.</p>

{% endblock %}