<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../static/css/styles.css">

    <title>{% block title %}Django App{% endblock %}</title>
</head>
<body class="{% block bodyclass %}home{% endblock %}">
    <div class="container">
        <header>
            <a href="/"><img src="../static/images/logo.png" alt="Logo"></a>
            {% block nav %}
            <ul id="nav">
                <li>{% block nav-home %}<a href="{% url 'home' %}">Home</a>{% endblock %}</li>
                <li>{% block nav-about %}<a href="{% url 'about' %}">About</a>{% endblock %}</li>
                <li>{% block nav-gallery %}<a href="{% url 'gallery' %}">Gallery</a>{% endblock %}</li>
                <li>{% block nav-contact %}<a href="{% url 'contact' %}">Contact</a>{% endblock %}</li>
            </ul>
            {% endblock %}
        </header>
        <div class="content-container">
            <main>{% block content %}{% endblock %}</main>
            <aside>{% block sidebarcontent %}{% endblock %}</aside>    
        </div>
        <footer>
            <p>&copy;{% now "Y" %}</p>
        </footer>
    </div><!-- end container-->
</body>
</html>